
  .sign-in {
    margin-left: 25px;
  }
  
  .sign-in a {
    color: rgb(0, 123, 255);
  }
  .sign-in i {
    vertical-align: middle;
    padding-right: 6px;
    color: rgb(0, 123, 255);
  }
  .nav ul li.sign-in {
    margin-left: 220px;
  }
  .sign-up {
    background-color: #60d91a;
    box-shadow: 0px 10px 20px #60d91a4d;
    padding: 8px 15px;
    border-radius: 4px;
  }
  .sign-up a {
    color: #ffffff !important;
  }
  .nav .nav-toggle {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-image: url(../../assets/icons/menu.svg);
    background-size: cover;
    background-position: 50%;
  }
  
  @media (max-width: 991.98px) {
    .nav ul li.sign-in {
      margin-left: 25px;
    }
    .nav .nav-toggle {
      display: block;
    }
   
  }
  .nav .nav-toggle.opened {
    background-image: url(../../assets/icons/close.svg);
    background-size: 30px 30px;
  }
  
  @media (max-width: 991.98px) {
    .nav ul {
      z-index: 100;
      display: block;
      position: absolute;
      right: 20px;
      background-color: #fff;
      padding: 20px 30px;
      -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 20%);
      box-shadow: 0 0 3px rgb(0 0 0 / 20%);
      visibility: hidden;
      opacity: 0;
      top: 100px;
      -webkit-transition-duration: 0.25s;
      transition-duration: 0.25s;
      -webkit-transition-property: opacity, visibility, top;
      transition-property: opacity, visibility, top;
    }
    .nav ul.show {
      visibility: visible;
      opacity: 1;
      top: 70px;
    }
  }